ENV="dev"
FRONTEND_URLS="http://localhost:3000,http://localhost:5173,http://localhost:4173"

MONGO_URI="mongodb://127.0.0.1:27017/blog"
JWT_SECRET="some super secret lengthy password"

LEBEL='fatal'

REDIS_URI='127.0.0.1:6379'